.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 3rem 10rem;
    @include flex(row, flex-start, center);
    z-index: 100;

    &__logo {
        font-size: 3.2rem;
        pointer-events: none;
        color: $primary-brand-color;
        margin-right: 10vw;
    }

    &__navigation {
        
        &--link {
            text-decoration: none;
            color: $primary-brand-color;
            padding: .6rem 1.5rem;
            border-radius: 2rem;
            margin: 0 1rem;
            font-weight: 600;
            transition: .5s ease-out .2s;

            &:hover,
            &.active {
                background: $primary-brand-color;
                color: #fff;
            }
        }
    }
}