.parallax {
    transition: all .3s ease;
}

.reveal {
    position: relative;
    transform: translateY(15rem);
    opacity: 0;
    transition: all .4s ease .2s;

    &.active {
        transform: translateY(0);
        opacity: 1;
    }
}