body {
    font-size: $font-size-default;
    font-family: $global-font;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $background-off-white;
    overflow-x: hidden;
}