*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // max-width: 100vw;

}

html {
    font-size: 62.5%; //  1rem = 10px 10px/16px = 62.5%
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    box-sizing: inherit;
}