.parallax {
    position: relative;
    height: 100vh;
    @include flex(row, center, center);
    pointer-events: none;
    overflow: hidden;

    &__title {
        position: absolute;
        font-size: 5em;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    }

    img {
        position: absolute;
        width: 100%;

        &#hill3,
        &#hill4,
        &#hill5,
        &#plant,
        &#hill2,
        &#hill1,
        &#tree {
            bottom: 0;
            left: 0;

        }

        &#leaf {
            top: 0;
            right: 0;
        }
    }


}

.content {
    position: relative;
    background-color: $primary-brand-color-dark;
    padding: 10rem;
    height: 100%;
    @include flex(column, center, center);

    &__title {
        font-size: 4.8rem;
        margin-bottom: 3rem;
        color: #fff;
    }

    &__text {
        font-size: 1.6rem;
        color: #fff;
        font-weight: 300;
        margin-bottom: 5rem;
    }
}