/* Color Palette */
$background-off-white: hsl(0, 0%, 98%);
$primary-brand-color: hsl(169, 47%, 39%);
$text-charcoal-gray: hsl(0, 0%, 20%);
$primary-brand-color-dark: hsl(168, 100%, 10%);

/* Font Variables */
$global-font: 'Poppins', sans-serif;
$font-size-default: 1.6rem;
