/* Color Palette */
/* Font Variables */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
.parallax {
  transition: all 0.3s ease;
}

.reveal {
  position: relative;
  transform: translateY(15rem);
  opacity: 0;
  transition: all 0.4s ease 0.2s;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(0, 0%, 98%);
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* width: 100vw;
  min-height: 100vh;*/
  overflow-x: hidden; 
}

body {
  box-sizing: inherit;
  overflow:hidden;
}

.header {
  position: float;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  overflow-y:visible;
  
}

.header__logo {
  position : relative;
  display: flex;
  justify-content: leftwards;
  align-items: left-side;
  height: 200vh;
  max-height : 100px;
  max-width: 50px;
  margin: 10px;
  float : left;
  margin-right: 8rem;
}

.header__navigation--link {
  text-decoration: none;
  color: hsl(169, 47%, 39%);
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  margin: 0 1rem;
  font-weight: 600;
  transition: 0.5s ease-out 0.2s;
  position : relative;
  align-items : left-side;
}

.header__navigation--link:hover, .header__navigation--link.active {
  background: hsl(169, 47%, 39%);
  color: #fff;
}

#nav-vertical{
  display:flex;
  flex-direction:column;
  /* overflow:visible; */
  position: absolute; 
  background-color:white;
  z-index:100000;
  border-radius: 0.75rem;
  margin-top:-2.2rem;
  /* opacity:1; */
}
.mobile_nav{
  text-decoration: none;
  positon:absolute;
  color: hsl(169, 47%, 39%);
  padding: 0.6rem 1.5rem;
  margin: 0 2rem;
  font-weight: 600;
  font-size:2rem;
}
.hide_nav{
  display:none;
}
.show_nav{
  display:inline;
}
#mobile_navigation{
  position : relative;
  display: flex;
  justify-content: right;
  align-items: right-side;
  float:right;
}

#menu_icon{
  /* float:right; */
  /* right:0; */
  /* width:0rem; */
  /* margin-left:50rem; */
  position : relative;
  /* display: flex; */
  justify-content: right;
  align-items: right-side;
  float:right;
  display:none;
  margin: 0 0.3rem;

}


.footer{
  padding-left:2rem;
  position: sticky;
  bottom:0;
  background-color:white;
  height: 10rem;
  width:100%;
  display:flex;
  flex-direction: row;
}
.contact-div{
  padding-right:5rem;
  padding-left:3rem;
  padding-top:3rem;
  flex-direction: column;
}

#logo_contact{
  display:flex;
  flex-direction:row;
}
.footer__logo{
height: 20vh;
max-height : 100px;
max-width: 50px;
margin: 10px;
float : left;
display:flex;
}
.footer__navigation{
  padding-top: 4.4rem;
  padding-right: 12rem;
  float:right;
  width:100%;  
  display:flex;
  float:right;
}
.footer__navigation--link {
  text-decoration: none;
  color: hsl(169, 47%, 39%);
  padding: 0rem 1.5rem;
  width:100%;
  /* border-radius: 2rem; */
  /* margin: 0 1rem; */
  font-weight: 200;
  transition: 0.5s ease-out 0.2s;
}
/* original */
/* .footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 3rem 10rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
  background-color: hsl(168, 100%, 10%);
  overflow-y: hidden;
}
.footer__logo {
  font-size: 3.2rem;
  pointer-events: none;
  color: #fff;
  margin-right: 2rem;
  margin-bottom:0;
}
.footer__copy {
  font-size: 1rem;
  pointer-events: none;
  color: #fff;
  margin-right: 27rem;
} */

.parallax {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  overflow: hidden;
}

.parallax__title {
  position: absolute;
  font-size: 5em;
  color: #fff;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.parallax img {
  position: absolute;
  width: 100vw;
  /* height:90%; */
}

.parallax img#hill3, .parallax img#hill4, .parallax img#hill5, .parallax img#plant, .parallax img#hill2, .parallax img#hill1, .parallax img#tree {
  bottom: 0;
  left: 0;
  /* top:10rem; */
}

.parallax img#leaf {
  top: 0;
  z-index:1000;
  right: 0;
}
.parallax img#hill3{
  bottom:-140px;
}

.content {
  position: relative;
  background-color: hsl(168, 100%, 10%);
  padding: 10rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__title {
  font-size: 4.8rem;
  margin-bottom: 3rem;
  color: #fff;
}

.content__text {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  margin-bottom: 5rem;
}

.mvp-redirect-button{
  margin-top:20px;
  background-color: white;
  font-weight:600;
  font-size:1.8rem;
  opacity:80%;
  color: hsl(168, 100%, 10%);
  border: 1px solid hsl(168, 100%, 10%);
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration:none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.mvp-redirect-button:hover {
  background-color: hsl(168, 100%, 10%);
  color: white;
  text-decoration:none;
}

/* .contact-div{
  color:white;
} */
/* .test{
  background-color:white;
} */
/*# sourceMappingURL=styles.css.map */

@media screen and (max-width:641px) {
  .header__navigation {
      opacity: 0 !important;
      pointer-events: none;
  }
  }

@media screen and (max-width:641px) {
  #menu_icon, #nav-vertical{
      display: inline !important;
  }
  }
  @media screen and (min-width:641px) {
    #menu_icon, #nav-vertical{
        display: none !important;
    }
    }
  @media screen and (max-width:641px) {
    .footer{
        flex-direction:column;
        height:20rem;
    }
    }
  @media screen and (max-width:641px) {
    .footer__navigation--link, #nav_link_footer{
      justify-content:center;
      align-items: center;
      float:center;
    }
    }
  @media screen and (max-width:641px) {
    .footer__navigation{
      padding-top: 0rem; 
      padding-right:1rem;
    }
    }
    
@media (max-width: 768px) {
  /* Adjust the height for mobile devices */
  .parallax {
    height: 70vh;
  }
  .parallax img#hill3{
    bottom:0px;
  }
}