/* Color Palette */
/* Font Variables */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
.parallax {
  transition: all 0.3s ease;
}

.reveal {
  position: relative;
  transform: translateY(15rem);
  opacity: 0;
  transition: all 0.4s ease 0.2s;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(0, 0%, 98%);
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  box-sizing: inherit;
}

.header {
  position: float;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 3rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}
.header__logo {
  position : relative;
  display: flex;
  justify-content: leftwards;
  align-items: left-side;
  height: 200vh;
  max-height : 100px;
  max-width: 50px;
  margin: 10px;
  float : left;
}

.header__navigation--link {
  text-decoration: none;
  color: hsl(169, 47%, 39%);
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  margin: 0 1rem;
  font-weight: 600;
  transition: 0.5s ease-out 0.2s;
  position : relative;
  align-items : left-side;
}
.header__navigation--link:hover, .header__navigation--link.active {
  background: hsl(169, 47%, 39%);
  color: #fff;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 3rem 10rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
  background-color: hsl(168, 100%, 10%);
  overflow-y: hidden;
}
.footer__logo {
  font-size: 3.2rem;
  pointer-events: none;
  color: #fff;
  margin-right: 27rem;
}
.footer__copy {
  font-size: 1rem;
  pointer-events: none;
  color: #fff;
  margin-right: 27rem;
}

.parallax {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  overflow: hidden;
}
.parallax__title {
  position: absolute;
  font-size: 5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.parallax img {
  position: absolute;
  width: 100%;
}
.parallax img#hill3, .parallax img#hill4, .parallax img#hill5, .parallax img#plant, .parallax img#hill2, .parallax img#hill1, .parallax img#tree {
  bottom: 0;
  left: 0;
}
.parallax img#leaf {
  top: 0;
  right: 0;
}

.content {
  position: relative;
  background-color: hsl(168, 100%, 10%);
  padding: 10rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content__title {
  font-size: 4.8rem;
  margin-bottom: 3rem;
  color: #fff;
}
.content__text {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  margin-bottom: 5rem;
}

/*# sourceMappingURL=styles.css.map */
